# Strava API Credentials
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=http://localhost:3000/auth/callback

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"

# Server Configuration
PORT=3000
